@import '../../styles/variables.module.scss';

.root {
  background: $background-header;
}

.contentRow {
  padding: 24px 0;
  gap: 12px;
}

@media (max-width: 1080px) {
  .contentRow {
    justify-content: center !important;
  }
}

.logoIconRow {
  max-width: 551px;
  min-height: 104px;

  gap: 16px;
}

.logoText {
  // font-family: 'Segoe Script';
  @include title3;
  text-transform: uppercase;
  color: $color-white;
}

.contactRow {
  gap: 32px;
}

@media (max-width: 700px) {
  .contactRow {
    gap: 12px;
  }
}

.email,
.tel {
  gap: 12px;

  a {
    @include text2;
    color: $color-white;
  }
}
