@import '../../../styles/variables.module.scss';

.article_6 {
    padding-top: 32px;
    margin-bottom: 32px;
}

.article_6__wrapper {
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    flex-wrap: wrap;
}

.article_6__image_block {
    width: fit-content;
    min-width: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.article_6__photo_table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.article_6__link {
    color: #ff9500;
}

@media (min-width: 480px) {
    .article_6 {
        padding-top: 72px;
        margin-bottom: 72px;
    }

    .article_6__image_block {
        min-width: 295px;
    }

    .article_6__wrapper {
        flex-wrap: nowrap;
    }
}

@media (min-width: 767px) {
    .article_6__photo_table {
        flex-wrap: nowrap;
    }
}