@import '../../styles/variables.module.scss';

.root {
  background: $background-header;
  background-position: center bottom 58px; /* Adjust the position and offset as needed */
  background-repeat: no-repeat;
  background-size: 100% calc(100% - 58px);
}

.contentRow {
  align-items: flex-start !important;
  gap: 104px;
  min-height: 670px;
}

@media (max-width: 700px) {
  .contentRow {
    gap: 32px;
  }
}

.contenText {
  max-width: 608px;
  min-height: 502px;

  h1 {
    margin-top: 41px;
    @include title1;
    color: $color-white;
    text-transform: uppercase;
  }

  .text {
    margin-top: 32px;
    @include text4;
    color: $font-color-white;
  }
}

.button {
  margin-top: 32px;
  width: 293px;
}

.numbers {
  margin-top: 48px;
  margin-right: 12px;
  max-width: 441px;
}
