@import '../../styles/variables.module.scss';

.root {
  margin-top: $margin-72;

  h1 {
    @include text1;
    color: rgba(21, 19, 42, 0.5);
  }
}

.imgRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  opacity: 0.25;
}
