@import '../../styles/variables.module.scss';

.root {
  background: $background-contact;
}

.wrapper {
  max-width: 1044px;
  margin: 0 auto;
  padding: 72px 10px;
}

.title {
  @include title2;
  color: $color-white;
  text-align: center;
}

.inputBlock {
  margin-top: $margin-32;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;

  @media (max-width: 700px) {
    justify-content: center;
  }
}
