@import '../../../styles/variables.module.scss';

.general__wrapper {
  max-width: 817px;
  width: 100%;
  margin: 0 auto;
}

.image {
  margin-top: $margin-72;
  display: flex;
  justify-content: center;

  &:last-child {
    margin-bottom: $margin-72;
  }
}

.general__title {
  padding-top: $margin-72;
  font-size: 40px;
  font-weight: 700;
  color: rgb(21, 19, 42);
}

.general__text {
  padding-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(21, 19, 42, 0.75);
}

.general__list {
  padding-left: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(21, 19, 42, 0.75);
}

.general__list li {
  padding-top: 32px;
  padding-left: 12px;
}

.general__certificates {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}