.root {
  @media (max-width: 560px) {
    position: absolute;
    top: 52px;
    right: 32px;
  }
}

.box {
  color: white;
}

.formControl {
  color: white;
}

.label {
  color: white;
  border-color: white;
}

.select {
  color: white;
}
