@import '../../styles/variables.module.scss';

.root {
  position: relative;
  width: 400px;
  min-height: 260px;

  border-radius: 8px;

  background-image: url(../../assets/image/gallery-card.png);

  @media (max-width: 425px) {
    width: none;
    max-width: 400px;
  }
}

.title {
  position: relative;
  top: 212px;
  max-width: 400px;
  height: 48px;
  border-radius: 0 0 8px 8px;

  background: rgba(0, 0, 0, 0.75);
  @include text2;
  color: $color-white;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.8;
}
