@import '../../styles/variables.module.scss';

.root {
  padding: 12px 32px;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $color-orange;
  border-radius: 64px;

  @include textButton;
  color: $color-white;
  text-transform: uppercase;

  &:active {
    transform: translateY(3px);
  }
}
