@import '../../styles/variables';

.root {
  max-width: 330px;
  min-height: 94px;
}

.titleIcon {
  height: 19px;
}

.input {
  margin-top: 8px;
  max-width: 330px;
  min-height: 56px;
  border: $border-grey;
  border-radius: 8px;

  @include textGray2;
  padding-left: 16px;
}
