.image {
  animation: slide 10s ease-in-out infinite;
  width: 520px;
  height: 670px;
}

@media (max-width: 700px) {
  .image {
    animation: slideSmall 10s ease-in-out infinite;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }
  20% {
    opacity: 0;
    transform: translateX(0%);
  }

  25% {
    opacity: 1;
    transform: translateX(0%);
  }

  50% {
    opacity: 1;
    transform: translateX(0%);
  }

  85% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(30%);
  }
}

@keyframes slideSmall {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
