@import '../../styles/variables.module.scss';

.root {
  margin-top: $margin-72;
}

.title {
  @include title2;
  color: $color-black;
  text-align: center;
}

.wrapper {
  margin-top: $margin-48;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;

  @media (max-width: 850px) {
    justify-content: center;
  }
}
