@import '../../styles/variables.module.scss';

.root {
  margin-top: $margin-72;

  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;

  @media (max-width: 1229px) {
    justify-content: center;
  }
}

.content {
  width: 680px;
}

.title {
  color: #15132a;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.contentContainer {
  margin-top: 32px;
  width: calc(100% - 72px);

  @media (max-width: 425px) {
    width: 100%;
  }

  .textTop {
    color: rgba(21, 19, 42, 0.75);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */

    margin-bottom: 32px;
  }
}

.contantItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    color: #15132a;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
  }

  p {
    margin-top: 13px;

    color: rgba(21, 19, 42, 0.75);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
}

.textBottom {
  margin-top: 30px;

  color: rgba(21, 19, 42, 0.75);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.button {
  margin-top: 32px;
}

.image {
  margin-top: 24px;

  width: 504px;
  height: 688px;

  @media (max-width: 425px) {
    height: 570px;
  }
}
