@import '../../styles/variables.module.scss';

.root {
  margin: 72px 0 52px;

  display: flex;
  justify-content: center;
  align-items: start;

  flex-wrap: wrap;
}

.title {
  @include title2;
  color: $color-black;
}

.content {
  margin-top: 32px;
  max-width: 608px;
  min-height: 563px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text {
  color: rgba(21, 19, 42, 0.75);

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-max-height: 150%; /* 30px */
}

.table {
  margin-top: $margin-32;
  padding-left: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.tableItem {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 16px;
}

.tableContainer {
  margin-left: 16px;

  display: flex;
  flex-direction: column;
  justify-content: start;

  h2 {
    color: #15132a;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-max-height: 150%;

    margin-bottom: 13px;
  }

  p {
    color: rgba(21, 19, 42, 0.75);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-max-height: 150%; /* 24px */
  }
}

.textBottom {
  margin-top: 32px;

  color: rgba(21, 19, 42, 0.75);

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-max-height: 150%; /* 30px */
}

.button {
  margin-top: 32px;

  @media (max-width: 425px) {
    width: 223px;
  }
}

.image {
  margin-top: 24px;
  width: 504px;
  height: 688px;
}
