@import '../../styles/variables.module.scss';

.root {
  // margin-top: $margin-72;
  margin: 72px 0 52px;

  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
  flex-wrap: wrap;
}

.title {
  max-width: 712px;
  min-height: 100px;

  @include title2;
  color: $color-black;
}

.content {
  margin-top: 32px;
  max-width: 608px;
  min-height: 580px;
}

.text {
  color: rgba(21, 19, 42, 0.75);

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.table {
  margin-top: $margin-32;
  padding-left: 24px;
  max-width: 650px;
  min-height: 248px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  @media (max-width: 700px) {
    justify-content: center;
  }
}

.tableItem {
  max-width: 584px;
  min-height: 72px;

  display: flex;
  justify-content: start;
  align-items: start;
  gap: 16px;

  img {
    padding-top: 7px;
  }
}

.tableContainer {
  margin-left: 16px;

  display: flex;
  flex-direction: column;
  justify-content: start;

  h2 {
    color: #15132a;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    margin-bottom: 13px;
  }

  p {
    color: rgba(21, 19, 42, 0.75);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
}

.textBottom {
  margin-top: 32px;

  color: rgba(21, 19, 42, 0.75);

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.button {
  margin-top: 32px;
}

.image {
  margin-top: 24px;
  height: 714px;
  width: 530px;
}
