@import '../../../styles/variables.module.scss';

.article_5 {
    padding-top: 32px;
    margin-bottom: 32px;
}

.article_5__wrapper {
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    flex-wrap: wrap;
}

.article_5__image_block {
    width: fit-content;
    min-width: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}



@media (min-width: 480px) {
    .article_5 {
        padding-top: 72px;
        margin-bottom: 72px;
    }

    .article_5__image_block {
        min-width: 295px;
    }

    .article_5__wrapper {
        flex-wrap: nowrap;
    }
}